default_stages: [pre-commit]
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (lint)
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff (format)
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: pyright
        name: pyright
        entry: uv run pyright --project=pyproject.toml
        language: system
        types_or: [python, pyi]
        require_serial: true